.nav-menu {
    color: #005631;
    z-index: 99999;
    position: fixed;
    width: 100%;
}

.nav-menu .nav-content {
    background-color: #E0E0E0;
}

.nav-menu .page-status {
    display: block;
    height: 100px;
    width: 100%;
}

.nav-menu .page-status .nav-banner {
    display: inline-block;
    width: 10%;
    height: 100%;
    float: left;
    padding: 15px;
}

.nav-menu .page-status .nav-banner-img {
    display: inline-block;
    background: url(../img/logo.png) center center no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.nav-menu .page-status .nav-search {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: left;
    padding: 20px;
}

.nav-menu .page-status .nav-search button,
.nav-menu .page-status .nav-search .search-input {
    height: 55px;
}

.nav-menu .page-status .nav-search button,
.nav-menu .page-status .nav-search .search-input,
.nav-menu .user-info .login-form input,
.nav-menu .user-info .login-form button {
    border: 2px solid #ffffff;
    margin:0;
    padding: 0;
    background-color: #F0F0F0;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-menu .page-status .nav-search .search-input {
    display: inline-block;
    float: left;
    width: 95%;
    
    font-size: 18px;
    padding-left: 20px;
    
    border-right: none;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-menu .page-status .nav-search button {
    display: inline-block;
    float: left;
    width: 5%;

    font-size: 20px;

    border-left: none;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-menu .user-info {
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
}

.nav-menu .user-info .login-form {
    position: relative;
    padding-top: 18px;
    padding-right: 8px;
    height: 100%;
}

.nav-menu .user-info .login-form input {
    display: block;
    margin-bottom: 5px;
    padding: 4px;
    float: left;
    width: 70%;
}

.nav-menu .user-info .login-form button {
    width: 25%;
    height: 68px;
    position: absolute;
    right: 8px;
    top: 18px;
}

.nav-menu .nav-items {
    height: 50px;

    padding: 10px 0 10px 0;

    -webkit-box-shadow: inset 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    inset 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         inset 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
}

.nav-menu .nav-items-list {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #ffffff;
}

.nav-menu .nav-items-list > li {
    display: inline-block;
    width: 16.5%;
}

.nav-menu .nav-items-list > li a {
    color: #005631;
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.nav-menu .nav-items-list > li a.active {
    /*text-shadow: 0px 0px 5px rgba(200,200,200,1);*/
    color: #A8C396;
}

.page {
    color: white !important;
    overflow-x: hidden;
    position: relative;
    float: left;
    background: #75D16B;
    width: 100%;
    /*height: 650px; -- javascript */
    padding-top: 150px;
    border-bottom: 1px dotted gray;
}

.page.links {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}

#institucional {
    background-image: url(../img/backgrounds/institucional.jpg);
}

#extensao {
    background-image: url(../img/backgrounds/extensao.jpg);
}

#formasingresso {
    background-image: url(../img/backgrounds/formasingresso.jpg);
}

#servicos {
    background-image: url(../img/backgrounds/servicos.jpg);
}

#cursos {
    background-image: url(../img/backgrounds/cursos.jpg);
}

.page .page-panel {
    width: 45%;
    position: absolute;
    right: 5%;
    padding-top: 20px;
}

.page .labels {
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 0px 0px 10px black;
}

.page .labels h1 {
    display: inline-block;
    padding: 5px 10px;
    height: 50px;
    margin: 0;
    margin-top: 20px;
    margin-right: 5px;
}

.page .sub-page .labels h1 a {
    text-decoration: none;
    font-weight: bold;
}

.page .page-help {
    position: relative;
    padding: 10px;
    text-align: justify;
    font-size: 22px;
    background: rgba(0,0,0,.2);
}

.page .access-links {
    position: absolute;
    width: 100%;
    bottom: -70px;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}

.page .access-links a {
    color: #ffffff;
    text-decoration: none;
}

.page .access-links a:before {
    content: '+';
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: .15ex;
    right: .5ex;
}

.page .page-help,
.page .access-links a {
    text-shadow: 0px 0px 2px black;
}

.page .page-help.active,
.page .sub-items.active {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: visibility .5s, opacity .5s linear .5s;
}

.page .sub-items,
.page .page-help {
    z-index: 0;
    opacity: 0;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    
    visibility: hidden;
    transition: visibility .5s, opacity .5s linear 0s;
}

.page .back-links {
    position: absolute;
    width: 100%;
    bottom: -70px;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}

.page .back-links a {
    color: #ffffff;
    text-decoration: none;
}

.page .back-links a:before {
    position: relative;
    top: .15ex;
    right: .5ex;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    
    content: "\e079";
}

.page .sub-items-list {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 120%;
}

.page .sub-items-list > li {
    float: left;
    margin-bottom: 10px;
    margin-right: 1%;
    width: 30%;
}

.page .sub-items-list > li a {
    display: inline-block;
    width: 100%;
    padding: 2.5px;
    background-color: #58A84F;
    text-align: center;
    
    color: white;
    text-decoration: none;
    font-weight: bold;

    transition: background-color .2s;
}

.page .sub-items-list > li a:hover {
    background-color: #599153;
    transition: background-color .2s;
}

.page.home-show-case {
    background-color: white;
    border: none;
}

.page.home-show-case .banners {
    /*height: 500px; --javascript*/
}

.page.home-show-case .banners img {
    /*height: 500px; --javascript */
    margin: auto;
}

.page.home-show-case .agenda {
    height: 150px;
}

.page.page.home-show-case .agenda .event {
    float: left;
    height: 150px;
    width: 20%;
    border: 1px dotted grey;
    border-left: none;
}

.page.page.home-show-case .agenda .event:last-child {
    border-right: none;
}

.page.page.home-show-case .agenda .event .date {
    font-weight: bold;
    background-color: #A0DB9A;
    padding: 5px;
}

.page.page.home-show-case .agenda .event .description {
    padding: 5px;
}

.fullscreen {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}

.choose-role {
    color: #005631;
    font-size: 26px;
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color: #CCCCCC;
    height: 100%;
}

.choose-role .header {
    margin-top: 70px;
    background: black;
    display: inline-block;
    padding: 50px;
    font-size: 110%;
    font-weight: bold;
    top: -50px;
    padding-left: 130px;
    background: url(../img/logo.png) no-repeat center left;
}

.choose-role .roles {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: auto;
    padding: 0;
}

.choose-role .roles > li {
    display: inline-block;
    width: 20%;
    margin: 2%;
    text-align: center;
}

.choose-role .roles li span.role-icon {
    display: inline-block;
    border: 3px solid #ffffff;
    height: 180px;
    width: 230px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: white;
    background-position: center bottom;
    background-size: 55%;
    background-repeat: no-repeat;
}

.choose-role .roles li span.role-text {
    font-size: 120%;
}

.choose-role .roles li a {
    text-decoration: none;
    cursor: pointer;
    color: #005631;
}

.choose-role .role-icon.visitante {
    background: url(../img/roles/visitante.png);
}
.choose-role .role-icon.professor {
    background: url(../img/roles/professor.png);
    background-size: 90% !important;
}
.choose-role .role-icon.estudante {
    background: url(../img/roles/estudante.png);
}
.choose-role .role-icon.fornecedor {
    background: url(../img/roles/fornecedor.png);
}
