#project folders/files and dist folders
bin/
.metadata/
nbproject/
dist/
build/
*~
target/

#subproject folders
*/bin/
*/.metadata/
*/nbproject/
*/dist/
*/build/
*/*~
*/target/

#compiled
*.class

# Package Files #
*.jar
*.war
*.ear
/TrabalhoLinguagens/nbproject/private/
/Escalonamento/nbproject/private/
