#java specific
*.class

#IDE especif files
nbproject/private/
.metadata/

#output compiled files
bin/
dist/
build/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
lol.log
/Escalonamento/nbproject/private/
/APS/APS - WSDL/nbproject/private/
/ProjetoControleFinanceiro
4ANO/SISPD/Data Mining/DataMining/DataMining/obj/Development/IncrementalShapshot.xml
4ANO/SISPD/Data Mining/DataMining/DataMining/obj/Development/LastBuilt.xml
