#eclipse
RemoteSystemsTempFiles/
.project
.classpath

#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/

#output compiled files
bin/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
