<!DOCTYPE html>
<html ng-app="homeUnivilleApp">
	<head>
		
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Univille Universidade - Nova Marca, Novo Portal Há 50 anos universidade para vida</title>
		
        <link href="./css/bootstrap.min.css" rel="stylesheet" />
        <link href="./css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="./css/principal.css" rel="stylesheet" />
	</head>
	<body>

        <div class="fullscreen choose-role-dlg" ng-controller="RoleDialogCtrl">
            <div class="choose-role">
                <h1 class="header">Seleção de Usuário</h1>
                <p class="help">Por favor, selecione o usuário que mais se adapta as suas necessidades.</p>
                
                <ul class="roles">
                    <li class="role">
                        <a ng-click="chooseRole('estudante')">
                            <span class="role-icon estudante"></span>
                            <span class="role-text">Estudantes</span>
                        </a>
                    </li>
                    <li class="role">
                        <a ng-click="chooseRole('professor')">
                            <span class="role-icon professor"></span>
                            <span class="role-text">Professores</span>
                        </a>
                    </li>
                    <li class="role">
                        <a ng-click="chooseRole('fornecedor')">
                            <span class="role-icon fornecedor"></span>
                            <span class="role-text">Fornecedores</span>
                        </a>
                    </li>
                    <li class="role">
                        <a ng-click="chooseRole('visitante')">
                            <span class="role-icon visitante"></span>
                            <span class="role-text">Visitantes</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="web-content">
            <div class="nav-menu" ng-controller="TopMenuCtrl">
                <div class="nav-content">
                    <div class="page-status">
                        <div class="nav-banner">
                            <div class="nav-banner-img"></div>
                        </div>
                        <div class="nav-search">
                            <form method="get" 
                                action="http://www.univille.edu.br/searchGoogleContent/">
                                <input class="search-input" id="searchKeyword" name="q" type="text" placeholder="Buscar no site">
                                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </form>
                        </div>
                        <div class="user-info">
                            <div class="user-status" ng-if="stCtrl.userLogged">
                                <span class="nav-user-curse-icon curse-icon-{{stCtrl.user.curseId}}"></span>
                                <dl class="nav-user-details">
                                    <dt>Nome:</dt>
                                    <dd>{{stCtrl.user.name}}</dd>
                                    <dt>Curso:</dt>
                                    <dd>{{stCtrl.user.curseName}}</dd>
                                    <dt>Período:</dt>
                                    <dd>{{stCtrl.user.period}}</dd>
                                </dl>
                                <img src="{{stCtrl.user.photo}}" class="nav-user-photo" />
                            </div>
                            <div>
                                <form id="loginForm" name="loginForm" method="post" class="login-form"
                                    ng-if="!stCtrl.userLogged" action="http://univille.edu.br/access/Login.html" >
                                    <input type="hidden" value="login" name="action" />
                                    <input type="hidden" value="" name="savePassword" />
                                    <input type="hidden" value="http://univille.edu.br/account/MySpace.html" name="redirect" />
        
                                    <input type="text" id="login" autocomplete="off" value="" name="login" placeholder="Usuário" />
                                    <input type="password" id="password" autocomplete="off" value="" name="password" placeholder="Senha" />
        
                                    <button type="submit">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="nav-items">
                        <ul class="nav-items-list">
                            <li ng-repeat="item in items"><a href="#{{item.anchor}}" class="nit-{{item.anchor}}" ng-click="resetContents()">{{item.label}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="banners" class="page home-show-case" ng-controller="HomeShowcaseCtrl">
                <a name="banners" class="anchor"></a>
                <carousel class="banners" interval="intervalTime" no-wrap="noWrapSlides">
                    <slide ng-repeat="banner in banners" active="slide.active">
                        <a href="{{banner.link}}"><img src="{{banner.image}}" alt="{{banner.title}}" title="{{banner.title}}" /></a>
                    </slide>
                </carousel>
                
                <div class="agenda">
                    <div class="event" ng-repeat="ev in agenda">
                        <div class="date">{{ev.date | date : 'dd/MMMM'}}</div>
                        <div class="description"><a href="{{ev.link}}">{{ev.description}}</a></div>
                    </div>
                </div>
            </div>
    
            <span ng-controller="CategoryPageCtrl">
                <div id="{{page.id}}" class="page links" ng-repeat="page in pages">
                    <div class="page-panel">
                        <div class="labels">
                            <h1 class="first">{{page.label}}</h1>
                        </div>
                        
                        <div class="page-help {{page.inside ? '' : 'active'}}">
                            <p>{{page.cDescription}}</p>
                            <div class="access-links">
                                <a href="#{{page.id}}" ng-click="openLinks(page)">Links de Acesso</a>
                            </div>
                        </div>
                        
                        <div class="sub-items sb-page">
                            <ul class="sub-items-list">
                                <li class="sub-item" ng-repeat="item in page.children">
                                    <a href="{{item.hasLink ? item.link : '#' + page.id}}" 
                                       ng-click="detailPage(page, $index)">
                                        {{item.label}} <span ng-if="item.hasLink" class="glyphicon glyphicon-new-window" />
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="back-links">
                                <a href="#{{page.id}}" ng-click="backInfo(page)">Voltar</a>
                            </div>
                        </div>
                        
                        <div class="sub-items sb-{{$index}}" ng-repeat="spage in page.children">
                            <ul class="sub-items-list">
                                <li class="sub-item" ng-repeat="item in spage.children">
                                    <a href="{{item.link}}">
                                    {{item.label}} <span class="glyphicon glyphicon-new-window" />
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="back-links">
                                <a href="#{{page.id}}" ng-click="openLinks(page)">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
            
		<!-- 3D Party -->
		<script src="./3d-party/jquery/dist/jquery.min.js"></script>
		<script src="./3d-party/angularjs/angular.min.js"></script>
		<script src="./3d-party/angular-route/angular-route.min.js"></script>
		<script src="./3d-party/bootstrap.min.js"></script>
		<script src="./3d-party/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script src="./3d-party/js-cookie/js.cookie.min.js"></script>

        <script src="./js/data.js"></script>
        <script src="./js/controllers.js"></script>
        <script src="./js/app.js"></script>
		
	</body>
</html>
